/* Top Styles */
.bg-image {
	background-image: url("img/snowy-mountains.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 50vh;
}

.navbar {
	display: flex;
	justify-content: center;
	text-decoration: underline;
	list-style: none;
	margin-left: 30%;
}

a {
	text-decoration-color: white;
}

li {
	margin-left: 1.25rem;
}

.history,
.team {
	color: white;
}

h1.la,
h1.mtns {
	display: flex;
	justify-content: center;
}

.la {
	color: #767676;
	margin-top: 5rem;
}

.mtns {
	color: #000066;
}

/* Middle Styles */
.m-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.m-la {
	color: #767676;
}

.m-mtns,
.m-history,
.m-team {
	color: #000066;
}